html {
  scroll-behavior: smooth;
}

/* width */
/* ::-webkit-scrollbar {
  width: 5px;
} */
/* Track */
/* ::-webkit-scrollbar-track {
  background: #FA1301;
} */

/* Handle */
/* ::-webkit-scrollbar-thumb {
  background: #F8E5E3;
} */

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: #555;
} */

head {
    background-color: #333;
}

body {
    background-color: #e8e8e8;
    width: 100%;
    height: 100%;
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    transition: .5s ease;
    /* overflow-x: hidden; */
}

.main {
    /* display: none; */
}

.loader {
    background-color: #f2bb4e;
    z-index: 2000;
    width: 100%;
    height: 100%;
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    /* display: none; */
}

.home {
    height: 100%;
}

#homeimage {
    width: 100%;
}

#flowerimage {
    width: 100%;
}

#spinnerbox {
    display: block;
    z-index: 2001;
    padding-left: 45%;
    padding-top: 20%;
}

.headbox {
    background-color: #598f84;
    opacity: 85%;
    z-index: 1000;
    position: absolute;
}

.header {
    display: flex;
    flex-direction: column;
}

.static_banner {
    position: absolute;
    top: 0;
    display: flex;
    /* display: none; */
    flex-direction: row;
    justify-content: center;
    height: 80px;
    width: 100%;
    z-index: 1000;
    opacity: 85%;
    color: #262626;
    transition: .2s ease;
}

.dynamic_banner {
    position: sticky;
    top: 0;
    /* display: flex; */
    display: none;
    visibility: hidden;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    background-color: #598f84;
    z-index: 1000;
    opacity: 0%;
    color: #e8e8e8;
    transition: visibility 0s, opacity 0.5s ease;
}

.socialbox {
    display: flex;
    /* display: none; */
    flex-direction: row;
    justify-content: center;
    background-color: #f2bb4e;
    width: 100%;
    height: 70px;
    color: #e8e8e8;
}

.logobox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.logo {
    max-width: 100%;
    height: 120px;
    opacity: 100%;
    color: #262626;
    filter: grayscale(100%) invert(100%);
    -webkit-filter: grayscale(100%) invert(100%);
}

.content {
    scroll-behavior: smooth;
}

/* .footer {
  font-family: 'Noto Sans', sans-serif;
  font-size: 0.6em;
  font-weight: 700;
  color: darken($white, 15%);
  float: right;

  &:before {
    content: '\2015';
  }
} */
