html {
  scroll-behavior: smooth;
}

head {
    background-color: #333;
}

body {
    background-color: #333;
    /* overflow-x: hidden; */
}

.headbox {
    background-color: black;
}

.header {
    display: flex;
    flex-direction: column;
}

.bannerholder{
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.banner {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    background-color: black;
}

.socialbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logobox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.logo {
    max-width: 70%;
    max-height: 100%;
}

.content{
    scroll-behavior: smooth;
}
