html {
  scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #FA1301;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #F8E5E3;
}

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: #555;
} */

head {
    background-color: #333;
}

body {
    background-color: white;
    width: 100%;
    height: 100%;
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    transition: .5s ease;
    /* overflow-x: hidden; */
}

.main {
    /* display: none; */
}

.loader {
    background-color: black;
    z-index: 10;
    width: 100%;
    height: 100%;
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    /* display: none; */
}

#spinnerbox {
    display: block;
    z-index: 20;
    left: 45%;
    top: 45%;
}

.headbox {
    background-color: black;
}

.header {
    display: flex;
    flex-direction: column;
}

.banner {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    background-color: black;
}

.socialbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: black;
    width: 100%;
    height: 70px;
}

.logobox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.logo {
    max-width: 70%;
    max-height: 100%;
}

.brand {
    position: absolute;
    left: 0%;
    bottom: 0%;
    padding: 30px;
    z-index: 100;
    font-family: Tajawal;
    font-size: 24px;
}

.content {
    scroll-behavior: smooth;
}
