html {
  scroll-behavior: smooth;
}

.spotifysection {
    height: 580px;
    background-color: rgba(234, 205, 227, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sectionheader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #797676;
    font-family: Verdana;
    padding: 50px;
    font-size: 20px;
}

.sectionholder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
}

.sectionholder .spotifyframe{
    padding-left: 10px;
    padding-right: 10px;
}

.sectionholder .videoimgs {
    width: 720px;
}

.spotifyholder > iframe {
    margin: 5px;
}

.videosection {
    height: 700px;
    background-color: #CDEADD;
}

.videoimg {
    height: 100px;
    max-height: 100px;
    padding: 5px;
    transition: .2s ease;
    backface-visibility: hidden;
}

.videoimg:hover {
  opacity: 0.4;
}

.communitysection {
    height: 600px;
    background-color: rgba(246, 252, 188, 0.3);
}

.librarysection {
    height: 600px;
    background-color: rgba(214, 210, 251, 0.3);
}

/* banner links */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding-left: 14px;
    padding-right: 16px;
    padding-top: 10px;
    text-decoration: none;
    font-family: Verdana;
    height: 32px;
}

/* Change the link color to #111 (black) on hover */
li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}
