html {
  scroll-behavior: smooth;
}

#mc_embed_signup {
    background: #f2bb4e;
    clear: left;
    font: 14px Helvetica Neue;
    width: 100%;
    color: white;
}

.homelayout {
    /* height: 580px; */
    /* background-color: #f2ced2; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.spotifysection {
    height: 580px;
    background-color: #f2ced2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (min-width: 600px){
.spotifydesktop {
    visibility: visible;
}

@media screen and (max-width: 600px){
.spotifydesktop {
    display: none;
    visibility: hidden;
}

.enter_the_hideout {
    display: block;
    position: absolute;
    z-index: 1001;
    top: 5vh;
    right: 5vh;
    /* height: 10vh;
    width: 10vw; */
    padding-right: 5vh;
    padding-top: 140px;
    opacity: 85%;
}

.hideout_img {
    height: 150px;
    width: 150px;
}

.sectionheader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #797676;
    font-family: Verdana;
    padding: 50px;
    font-size: 20px;
}

.sectionholder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
    /* min-height: 10px; */
}

.sectionholder .spotifyframe{
    padding-left: 10px;
    padding-right: 10px;
}

.mainvideo {
    padding-top: 50px;
}

.spotifyholder > iframe {
    margin: 5px;
}

.videosection {
    /* height: 640px; */
    background-color: #CDEADD;
    padding-bottom: 20px;
}

.videoimg {
    height: 100px;
    max-height: 100px;
    padding: 5px;
    transition: .2s ease;
    backface-visibility: hidden;
}

.gridholder {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    max-width: 80vw;
}

.grid-item {
    width: 200px;
    -webkit-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
    opacity: 1;
}

.grid-item:hover {
  opacity: 0.4;
}

.comm-img {
    /* width: 40vw; */
    -webkit-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
    opacity: 1;
    height: 30vh;
}

.comm-img:hover {
  opacity: 0.4;
}

.videoimg:hover {
  opacity: 0.4;
}

.communitysection {
    height: 100%;
    background-color: rgba(246, 252, 188, 0.3);
}

.communityholder {
    height: 60vh;
    padding-top: 150px;
    background-color: rgba(246, 252, 188, 0.3);
}

.librarysection {
    /* height: 600px; */
    background-color: #e8e8e8;
    /* width: 90vw; */
}

.libraryholder {
    padding-top: 150px;
    background-color: #e8e8e8;
}

/* banner links */
ol.static {
    color: #262626;
}

ol.static li {
    float: left;
    display: block;
    color: #262626;
    text-align: center;
    padding-left: 14px;
    padding-right: 16px;
    padding-top: 60px;
    padding-bottom: 10px;
    text-decoration: none;
    font-family: Verdana;
    font-size: 20px;
    /* height: 80px; */
}

ol.static li.bannerlogo {
    padding-top: 0px;
}

/* ol.static li.bannerlogo {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    width: 100%;
    height: 100%;
    float: none;
} */

ol.dynamic {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #598f84;
}

ol.dynamic li {
    float: left;
    display: block;
    color: #e8e8e8;
    text-align: center;
    padding-left: 14px;
    padding-right: 16px;
    padding-top: 10px;
    text-decoration: none;
    font-family: Verdana;
    height: 32px;
}

ol.mobile {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #598f84;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

ol.mobile li {
    float: left;
    display: block;
    color: #e8e8e8;
    text-align: center;
    padding-left: 14px;
    padding-right: 16px;
    padding-top: 10px;
    text-decoration: none;
    font-family: Verdana;
    height: 32px;
    justify-content: left;
}

blockquote {
    float: left;
    display: block;
    /* color: #e8e8e8; */
    text-align: center;
    padding-left: 14px;
    padding-right: 16px;
    padding-top: 30px;
    text-decoration: none;
    font-family: Verdana;
    width: 30%;
    color: #797676;
}

.about {
    padding-top: 0px;
    padding-bottom: 30px;
    width: 90%;
    text-align: justify;
}

.aboutholder {
    padding-top: 180px;
}
