{% extends "base.html" %}
{% block sources %}
<link rel="stylesheet" href="/static/css/home.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script src="/static/js/slick.min.js"></script>
<link rel="stylesheet" href="/static/css/slick.css">
<link rel="stylesheet" href="/static/css/slick-theme.css">
<div id="top"></div>
{% endblock %}
{% block banner %}
<ol>
<li class="slidepage">about</li>
    <li class="slidehome" data-section='#videosection'>video</li>
    <li class="slidehome" data-section='#spotifysection'>music</li>
    <li class="bannerlogo slidehome" data-section='#top'><img class="logo" src="https://mcusercontent.com/c12d00e434d3e209a9ac3fd7d/images/b13fd288-49cc-4a77-a8df-63cd28b6d924.png"></li>
    <li class="slidepage">community</li>
    <li class="slidepage">library</li>
    <li onclick="location.href='https://natalieholmes.bandcamp.com';">store</li>
</ol>
{% endblock %}
{% block content %}
<div class="carousel">
    <div class="homelayout">
        <div class="home">
            <img id="homeimage" src="https://mcusercontent.com/c12d00e434d3e209a9ac3fd7d/images/2f0ea2de-6c61-4fb9-8371-a9ba078b9642.jpg"></img>
        </div>
            <!-- <div class="sectionheader">video</div> -->
        <div class="videosection" id="videosection">
            <div class="sectionholder">
                <iframe id="videoframe" width="720" height="405" src="https://www.youtube-nocookie.com/embed/videoseries?list=PLitPfbAIiH0Tfa4NK64r6qnSqvFNE_Nvl" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="sectionholder videoimgs">
                <img src="https://img.youtube.com/vi/DSdoNhJCoKc/0.jpg" class="videoimg" onclick="updatevideo('https://www.youtube.com/embed/videoseries?list=PLitPfbAIiH0Tfa4NK64r6qnSqvFNE_Nvl')"></img>
                <img src="https://img.youtube.com/vi/e4huiRiQ7Pc/0.jpg" class="videoimg" onclick="updatevideo('https://www.youtube-nocookie.com/embed/e4huiRiQ7Pc')"></img>
                <img src="https://img.youtube.com/vi/D3bN7fTOicg/0.jpg" class="videoimg" onclick="updatevideo('https://www.youtube-nocookie.com/embed/D3bN7fTOicg')"></img>
                <img src="https://img.youtube.com/vi/SLaX_KIIh98/0.jpg" class="videoimg" onclick="updatevideo('https://www.youtube-nocookie.com/embed/SLaX_KIIh98')"></img>
            </div>
        </div>
        <div class="home">
            <img id="flowerimage" src="https://mcusercontent.com/c12d00e434d3e209a9ac3fd7d/images/b0dfc5fa-eb13-40ab-b6da-0aab9ac2c882.jpg"></img>
        </div>
        <!-- </div> -->
        <div class="spotifysection" id="spotifysection">
            <!-- <div class="sectionheader">music</div> -->
            <div class="sectionholder">
                <iframe class="spotifyframe" src="https://open.spotify.com/embed/album/7w32okyMeyUNdwdJY1Xj1G" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                <iframe class="spotifyframe" src="https://open.spotify.com/embed/playlist/0zhE19hfIbOAt1lty1HgNE" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                <iframe class="spotifyframe" src="https://open.spotify.com/embed/playlist/6TSliFziS3P8y4bAdkFWiR" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            </div>
        </div>
    </div>
    <div class="communitysection" id="communitysection">
        <div class="sectionheader">community</div>
        <div class="sectionholder">
            <img width="400px" src="https://d4musicmarketing.com/wp-content/uploads/2020/04/patreon-for-musicians-header-min.jpg"></img>
            <img width="400px" src="https://s3.amazonaws.com/quietus_production/images/articles/28650/bandcamp2018-988x416_1587480633_crop_550x232_1595525569.png"></img>
        </div>
    </div>
    <div class="librarysection" id="librarysection">
        <div class="sectionheader">Quotes...</div>
        <div class="sectionheader">Solo Releases</div>
        <div class="gridholder">
            <div class="grid" id="sologrid">
              <img class="grid-item" src="https://mcusercontent.com/c12d00e434d3e209a9ac3fd7d/images/0e2c99ce-0f24-4408-9d2b-78ae7067f9a9.jpg"></img>
              <img class="grid-item" src="https://mcusercontent.com/c12d00e434d3e209a9ac3fd7d/images/a45f5688-6a55-422a-8525-4e59f2dbb14f.jpg"></img>
              <img class="grid-item" src="https://mcusercontent.com/c12d00e434d3e209a9ac3fd7d/images/7b332580-0145-4bee-9daf-07299d5608bb.jpg"></img>
              <img class="grid-item" src="https://mcusercontent.com/c12d00e434d3e209a9ac3fd7d/images/63326859-5be6-4db6-867c-2317a261fd5c.jpg"></img>
              <img class="grid-item" src="https://mcusercontent.com/c12d00e434d3e209a9ac3fd7d/images/7a79a0b0-d94d-4a2d-86d2-99e11793482c.png"></img>
              <img class="grid-item" src="https://mcusercontent.com/c12d00e434d3e209a9ac3fd7d/images/078a6725-5059-4c04-baa7-797d9dbcfcbe.png"></img>
              <img class="grid-item" src="https://mcusercontent.com/c12d00e434d3e209a9ac3fd7d/images/3ed39314-678f-4862-920b-164fb14bc891.jpg"></img>
              <img class="grid-item" src="https://mcusercontent.com/c12d00e434d3e209a9ac3fd7d/images/16b49988-3ab0-45df-a169-5feff2e18368.png"></img>
              <img class="grid-item" src="https://mcusercontent.com/c12d00e434d3e209a9ac3fd7d/images/7d323a72-1d34-4613-9ccb-179aacd12b3e.jpg"></img>
              <img class="grid-item" src="https://mcusercontent.com/c12d00e434d3e209a9ac3fd7d/images/0bee719e-47eb-4ffc-be06-11d802fcb3b8.jpg"></img>
            </div>
        </div>
        <div class="sectionheader">Bandcamp Exclusives</div>
        <div class="gridholder">
            <div class="grid" id="bandcampgrid">
              <img class="grid-item" src="https://mcusercontent.com/c12d00e434d3e209a9ac3fd7d/images/ee28fc07-39ce-42b9-9282-b684654b5013.jpg"></img>
              <img class="grid-item" src="https://mcusercontent.com/c12d00e434d3e209a9ac3fd7d/images/793cc8fa-6562-4185-9ca0-2735c5eebed1.jpg"></img>
              <img class="grid-item" src="https://mcusercontent.com/c12d00e434d3e209a9ac3fd7d/images/27247daf-790c-4551-a8ea-d5bb87d9882e.png"></img>
              <img class="grid-item" src="https://mcusercontent.com/c12d00e434d3e209a9ac3fd7d/images/9160aa0f-f43a-474a-ad15-2e33fa6c275d.jpg"></img>
            </div>
        </div>
        <div class="sectionheader">Electronic Collabs</div>
        <div class="gridholder">
            <div class="grid" id="electronicgrid">
              <img class="grid-item" src="https://mcusercontent.com/c12d00e434d3e209a9ac3fd7d/images/084fc9f7-7dcc-4d9c-9eb2-5680fac93ffd.jpg"></img>
              <img class="grid-item" src="https://mcusercontent.com/c12d00e434d3e209a9ac3fd7d/images/94f4ed1d-1e40-43b0-a98a-6360b6f82952.jpg"></img>
              <img class="grid-item" src="https://mcusercontent.com/c12d00e434d3e209a9ac3fd7d/images/dea902da-fa24-42a6-b149-cc458bb461c1.jpg"></img>
              <img class="grid-item" src="https://mcusercontent.com/c12d00e434d3e209a9ac3fd7d/images/67a42949-4bca-4f53-9a9a-d601b9f73c21.jpg"></img>
              <img class="grid-item" src="https://mcusercontent.com/c12d00e434d3e209a9ac3fd7d/images/db279d85-8876-44cf-a137-4c83eadb9784.jpg"></img>
              <img class="grid-item" src="https://mcusercontent.com/c12d00e434d3e209a9ac3fd7d/images/5b98f0ce-5030-4f00-baa9-70a922b741d8.jpg"></img>
              <img class="grid-item" src="https://mcusercontent.com/c12d00e434d3e209a9ac3fd7d/images/f757006b-4386-4b1c-8499-2d5f79aacd8b.jpg"></img>
            </div>
        </div>
        <div class="sectionheader">As Seen On</div>
        <div class="gridholder">
            <div class="grid" id="asseenongrid">
              <img class="grid-item" src="https://mcusercontent.com/c12d00e434d3e209a9ac3fd7d/images/0720eca2-c153-4ae5-8afc-2ae340ba834f.jpg"></img>
              <img class="grid-item" src="https://mcusercontent.com/c12d00e434d3e209a9ac3fd7d/images/0fc22f9f-c5b9-45ae-92b8-a287bd6aa89c.jpeg"></img>
            </div>
        </div>
        <div class="sectionheader">Production Music</div>
        <div class="gridholder">
            <div class="grid" id="productiongrid">
              <img class="grid-item" src="https://mcusercontent.com/c12d00e434d3e209a9ac3fd7d/images/cf152259-558b-4abf-b89a-0f3773019e7e.jpeg"></img>
              <img class="grid-item" src="https://mcusercontent.com/c12d00e434d3e209a9ac3fd7d/images/13114b9e-489a-4cc9-a629-e0ff143fdf44.png"></img>
              <img class="grid-item" src="https://mcusercontent.com/c12d00e434d3e209a9ac3fd7d/images/c0cba50c-47d7-4855-93d5-8a90eca65f11.jpeg"></img>
              <img class="grid-item" src="https://mcusercontent.com/c12d00e434d3e209a9ac3fd7d/images/9028bb83-03a0-4257-89f9-82871f45233c.jpg"></img>
              <img class="grid-item" src="https://mcusercontent.com/c12d00e434d3e209a9ac3fd7d/images/b5067bbb-909b-4efb-af19-0e2f41419356.jpeg"></img>
            </div>
        </div>
        <div class="sectionheader">Winter Springs</div>
        <div class="gridholder">
            <div class="grid" id="wintergrid">
              <img class="grid-item" src="https://mcusercontent.com/c12d00e434d3e209a9ac3fd7d/images/bf28541a-57a0-440a-855e-e84510378b8e.jpg"></img>
              <img class="grid-item" src="https://mcusercontent.com/c12d00e434d3e209a9ac3fd7d/images/1689e781-2b08-4270-9e9f-67ea61c76bfc.jpg"></img>
              <img class="grid-item" src="https://mcusercontent.com/c12d00e434d3e209a9ac3fd7d/images/d04d6b0b-62d7-4bf8-a97c-628c0e78c19f.png"></img>
            </div>
        </div>
    </div>
    <div class="aboutsection" id="aboutsection">
        <div class="sectionheader">about</div>
    </div>
</div>
<script type="text/javascript">
    function updatevideo(src) {
        // get handle on iframe object
        $('#videoframe').attr('src', src)
    }
    $(document).ready(function(){
        $('.carousel').slick({
            adaptiveHeight: true,
            dots: false,
            arrows: false,
            speed: 500,
            fade: true
        });
        $(".slidehome").click(function(e){
            e.preventDefault();
            // go to home page
            $('.carousel').slick('slickGoTo', 0, false);
            // get section
            var section = $(this).data("section");
            // go to section
            window.location.href = section;
       });
       $(".slidepage").click(function(e){
            e.preventDefault();
            slideIndex = $(this).index();
            // fudge to work with non clider headers
            if (slideIndex > 0){
                slideIndex += 1
            } else {
                slideIndex += 7
            }
            $('.carousel').slick('slickGoTo', slideIndex, false);
       });
        $('.grid').masonry({
          // options
          itemSelector: '.grid-item',
          columnWidth: 200
        });
    });
</script>
{% endblock %}
